.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(253, 254, 255);
  font-size: 1.6rem;
  padding: 1.5rem 3.9rem;
  border-bottom: red;
  height: 8rem;
}
.nav-category {
  background-color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  max-width: 20rem;
  padding: 1.5rem 0.1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
}

.nav-category:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244, 0.6);
}

.nav {
  display: flex;
  align-items: center;
  gap: 4.7rem;
}

#categories-btn {
  margin-left: -1.2rem;
}

.logo {
  max-width: 4.7rem;
}
.search-box-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.search-form {
  position: relative;
}

.search-input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(204, 0, 0);
  border: solid rgb(247, 247, 247);
  background-color: #f7f7f7;
  border-radius: 0.8rem;
  height: 4.4rem;
  width: 52.5rem;
  font-size: 1.6rem;
  padding: 0.8rem;
  outline: none;
}

.search-input::placeholder {
  color: #646464;
  padding-left: 0.4rem;
}

.searchBtn {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
  max-width: 3.9rem;
}

.searchBtn:hover {
  cursor: pointer;
}
.sign-in-shopping-cart-container {
  display: relative;
}

.guest-image {
  position: absolute;
  right: 18.3rem;
  padding-right: -1rem;
}

.shopping-cart {
  max-width: 5rem;
  position: absolute;
  right: 3.5rem;
}

.shopping-cart:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244, 0.6);
}

#sign-in-btn {
  position: absolute;
  right: 13rem;
  font-size: 1.4rem;
  margin-left: -3.9rem;
}

#sign-in-btn:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244, 0.6);
}
