.product-header-container {
  margin: 2rem 3.5rem;
}

.product-path {
  font-size: 1.4rem;
  color: rgb(104, 104, 104);
}

.product-anchor {
  color: rgb(104, 104, 104);
  text-decoration: underline;
}

.shop-classics {
  display: block;
  font-size: 1.4rem;
  color: rgb(104, 104, 104);
  text-decoration: underline;
  margin: 2rem 0;
}

.product-header {
  margin: -1.8rem 0;
  font-weight: bold;
  font-size: 2.9rem;
}
