.shipping-information-container {
  position: absolute;
  top: 7rem;
  right: -45.5rem;
  min-width: 40rem;
  max-width: 30rem;
}

.zip-code {
  font-size: 1.9rem;
}

.edit-location {
  font-size: 1.6rem;
  text-decoration: underline;
  color: rgb(104, 104, 104);
  font-weight: 400;
  line-height: 3.5rem;
}

.edit-location:hover {
  color: black;
  cursor: pointer;
}

.arrival-time {
  color: rgb(0, 147, 0);
  font-size: 1.65rem;
  font-weight: 400;
  line-height: 3rem;
}

.arrival-time-child {
  font-size: 1.4rem;
  color: rgb(104, 104, 104);
  font-weight: 400;
}

.item-not-sold-store {
  color: rgb(104, 104, 104);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3rem;
}
