.sidebar-final-component-container {
}

/* REGISTRY */
.registry-container {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.gift-box {
  max-width: 4.5rem;
}

.sign-in {
  margin-left: 15rem;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: rgb(102, 102, 102);
  text-decoration: none;
}

.sign-in:hover {
  background-color: rgb(247, 247, 247);
  border-color: rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  cursor: pointer;
}
/* RED CARD */
.red-card-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.red-card {
  max-width: 4.5rem;
}

.right-arrow {
  max-width: 4rem;
  margin-left: 15rem;
}

.savings-p {
  font-weight: bold;
  font-size: 1.6rem;
  min-width: 20rem;
}

.redcard-p {
  font-weight: normal;
  font-size: 1.4rem;
  color: rgb(102, 102, 102);
}

/* AFFIRM */

.affirm-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.affirm-logo {
  max-width: 4.5rem;
}

.info-logo {
  max-width: 4.5rem;
  margin-left: 15rem;
}

.tk-classics {
  margin-top: 2rem;
}

.tk-btn {
  color: rgb(51, 51, 51);
  text-decoration: none;
  border: 1px solid rgb(136, 136, 136);
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

.tk-btn:hover {
  background-color: rgb(247, 247, 247);
  border-color: rgb(51, 51, 51);
  color: rgb(51, 51, 51);
}

@media (max-width: 480px) {
  .sidebar-final-component-container {
    bottom: -100rem;
    max-width: 100%;
  }

  /* REGISTRY */
  .registry-container {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  }

  .gift-box {
    max-width: 4.5rem;
  }

  .sign-in {
    margin-left: 0rem;
    border: 1px solid black;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: rgb(102, 102, 102);
    text-decoration: none;
    min-width: 28%;
  }

  .sign-in:hover {
    background-color: rgb(247, 247, 247);
    border-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    cursor: pointer;
  }
  /* RED CARD */
  .red-card-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .red-card {
    max-width: 4.5rem;
  }

  .right-arrow {
    max-width: 4rem;
    margin-right: ;
  }

  .savings-p {
    font-weight: bold;
    font-size: 1.6rem;
    min-width: 20rem;
  }

  .redcard-p {
    font-weight: normal;
    font-size: 1.4rem;
    color: rgb(102, 102, 102);
  }

  /* AFFIRM */

  .affirm-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .affirm-logo {
    max-width: 4.5rem;
  }

  .info-logo {
    max-width: 4.5rem;
    margin-right: 5rem;
  }

  .tk-classics {
  }

  .tk-btn {
    color: rgb(51, 51, 51);
    text-decoration: none;
    border: 1px solid rgb(136, 136, 136);
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
  }

  .tk-btn:hover {
    background-color: rgb(247, 247, 247);
    border-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
  }
}
